Repository osl-pocs/poc-celery: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-linter, bandit, vulture, mccabe

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  pass_filenames: true

ruff-linter:
  name: ruff-linter
  entry: ruff check
  language: system
  pass_filenames: true

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  - -iii
  - -lll
  pass_filenames: true

vulture:
  name: vulture
  entry: vulture --min-confidence 80
  language: system
  description: Find unused Python code.
  pass_filenames: true

mccabe:
  name: mccabe
  entry: python -m mccabe --min 10
  language: system
  pass_filenames: true

fix: Change module imports
  src/__init__.py
  src/poc_celery/__init__.py
  src/poc_celery/celery_app.py
  src/poc_celery/config/celeryconfig
  src/poc_celery/tasks_async.py
  src/poc_celery/tasks_collectors.py
Due: ruff-format, ruff-linter, bandit, vulture, mccabe

feat: Add waiting to load containers
  scripts/start_celery_and_flower.sh
Due: none

feat: Create script to kill all services
  scripts/start_celery_and_flower.sh
  scripts/stop_celery_and_flower.sh
  src/__init__.py
  src/poc_celery/config/celeryconfig
Due: ruff-format, ruff-linter, bandit

create levels for the poc
  .gitignore
  conda/dev.yaml
  pyproject.toml
  src/poc_celery/db.py
  src/poc_celery/poc1/__init__.py
  src/poc_celery/poc1/celery_app.py
  src/poc_celery/poc1/tasks_async.py
  src/poc_celery/poc1/tasks_collectors.py
  src/poc_celery/poc2/__init__.py
  src/poc_celery/poc2/celery_app.py
  src/poc_celery/poc2/tasks_collectors.py
  tests/conftest.py
  tests/poc1/__init__.py
  tests/poc1/test_tasks_async.py
  tests/poc1/test_tasks_collectors.py
  tests/poc2/__init__.py
  tests/poc2/test_tasks_collectors.py
Due: ruff-format, ruff-linter, bandit, vulture, mccabe

improve ci
  .github/workflows/main.yaml
  tests/poc1/test_tasks_async.py
Due: ruff-format, ruff-linter, bandit

fix module path
  tests/poc1/test_tasks_collectors.py
Due: ruff-format, ruff-linter, bandit

keep flexible the script
  .github/workflows/main.yaml
  README.md
  scripts/start_celery_and_flower.sh
  src/poc_celery/poc1/__init__.py
  src/poc_celery/poc2/__init__.py
Due: ruff-format, ruff-linter, bandit, vulture, mccabe

fix task file name
  src/poc_celery/poc2/celery_app.py
  src/poc_celery/poc2/tasks_collectors.py
Due: ruff-format, ruff-linter, bandit, vulture, mccabe

fix task file name
  src/poc_celery/poc2/tasks.py
Due: ruff-format, ruff-linter, bandit, vulture, mccabe

fix import
  tests/poc1/test_tasks_async.py
Due: ruff-format, ruff-linter, bandit

create levels for the poc (#10)
  .github/workflows/main.yaml
  .gitignore
  README.md
  conda/dev.yaml
  pyproject.toml
  scripts/start_celery_and_flower.sh
  src/poc_celery/db.py
  src/poc_celery/poc1/__init__.py
  src/poc_celery/poc1/celery_app.py
  src/poc_celery/poc1/tasks_async.py
  src/poc_celery/poc1/tasks_collectors.py
  src/poc_celery/poc2/__init__.py
  src/poc_celery/poc2/celery_app.py
  src/poc_celery/poc2/tasks.py
  tests/conftest.py
  tests/poc1/__init__.py
  tests/poc1/test_tasks_async.py
  tests/poc1/test_tasks_collectors.py
  tests/poc2/__init__.py
  tests/poc2/test_tasks_collectors.py
Due: ruff-format, ruff-linter, bandit, vulture, mccabe

fix: Fix poetry dependencies
  conda/dev.yaml
  poetry.lock
  pyproject.toml
Due: none

chore: Add source path to install as a package
  pyproject.toml
Due: none

chore(celery_app) Fix relative path for tasks
  src/poc_celery/poc1/celery_app.py
Due: ruff-format, ruff-linter, bandit, vulture, mccabe

Path conditions:
  ruff-format: any of: \.py$, but not: (?x)(
  docs
)

  ruff-linter: any of: \.py$, but not: docs/
  bandit: any of: \.py$
  vulture: any of: src/poc_celery and \.py$
  mccabe: any of: src/poc_celery and \.py$
